$primary: rgb(82, 169, 190);
$primary-darken: rgb(44, 119, 138);
$primary-lighten: rgb(130, 203, 221);

$green: rgb(73, 197, 73);
$green-darken: rgb(32, 129, 32);

$red: rgb(218, 0, 0);
$red-darken: rgb(155, 0, 0);
